<br><br><br>
<center><h1>Hi <%=user_name%>
<br><br>
How old are you?
<br><br>
<form action='age' method='post'>
	<input type='text' name ='age_input'><br>
	<input type='text' name ='user_input' value = <%=user_name%> hidden>
	<p><input type ='submit'></p>
<br><br>
</form>	</h1></center>