<br><br><br>
<center><h1>Hi <%=username%>. How old are you?
<br><br>

<form action='age' method='post'>
	<input type='number' name='age_input'>
	<input type='text' name='name_input' value= <%=username%> hidden>
	<p><input type='submit'></p>
<br><br>
</form>	</h1></center>