<html>
<head>

<link href="css/styles.css" rel="stylesheet">
<h1>
<div class="bgcolor"><br><br><br><br>
<div class="bgcolor"><h1><p class="header center">Getting to Know You App</p></h1>
</div>

<%=yield%>
</html>

<!-- <footer> -->
<div class="footer bodycopy"><p id="center"> Posted by: Tim Taylor</p>
<p id="center">For more information contact: <a href="http://minedminds.org">www.MinedMinds</a><p>
</div>
<!-- </footer> -->