
<center><div class="subhead">What is your name?
<br><br></div>

<form action='name' method='post'>
	<input type='text' name='name_input'><br>
	<p><input type='submit'></p>
<br><br><br><br><br>
</form>	</h1></center>
