<br><br><br>
<center><h1>What is your name?
<br><br>
<form action='name' method='post'>
	<input type='text' name='name_input'><br>
	<p><input type='submit'></p>
<br><br>
</form>	</h1></center>
